# LPCXPresso & Eclipse files
/**/.metadata
/**/.settings
/**/RemoteSystemsTempFiles
/**/Debug

# Docbook
*.fo

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backup files
*.bak
*.swp
*~
*.kate-swp

# Unity runners
*_Runner.c

# GCOV Coverage Files
*.gcda
*.gcno
*.gcov
*.info

